body{
    background-color: fbfbfb;
}

#tagSelect{
    margin: 2%;
    display: grid;
    grid-template-columns: repeat(7, 5em);
    grid-template-rows: repeat(1,1fr);
    place-items: center;
    align-items: center;
}

.container{
    margin-top: 40px;
    display: grid;
    /* grid-template-columns: repeat(1, 1fr); */
    /* grid-template-rows: repeat(2, 1fr); */
    grid-column-gap: 1px;
    grid-row-gap: 2px; 
    place-items: center;
    align-items: center;

}
.periode-container{
    /* margin-top: 50px; */
    margin-bottom: 0px;
    /* size: auto; */
    display: grid;
    /* grid-template-columns: repeat(3, 1fr); */
    grid-template-rows: repeat(3,1fr);
    grid-column-gap: 1px;
    grid-row-gap: 20px; 
    place-items: center;
    /* justify-items: center; */
    align-items: center;
    /* display: flex;
    flex-direction: row;
    border: solid 10px whitesmoke; */
}

.projectLinks{
    /* margin: 2%; */
    padding: -50%;
    border: 5px solid whitesmoke;
    display: flex;
    flex-direction: column;
    flex-basis: content;
    justify-content: space-around;
}

.project{
    /* background-color: whitesmoke; */
    width: 85%;
    height: 80%;
    /* margin-top: 8%; */
    /* margin: 2%; */
    padding: -10%;
    text-decoration: none;
    /* box-shadow: 0px 16px whitesmoke; */
     /* outline: 12px double red;
    outline-offset: 2.5px; */
    display: flex;
    /* display: inline-block; */
    flex-basis: content;
    justify-content: space-around;
 }

.project:hover {
    /* background-image: url('../images/sherm_afdruk_goede_doel.png'); */
    transition-duration: 10s;
}

.project:active {
    /* box-shadow: 0px 20px whitesmoke; */
    transform: translateY(4px);
}.gridtekst{
    /* background: -webkit-linear-gradient(bottom right, #01fe9c, #fb04c5); */
    font-family: 'Monts';
    text-align: center;
    font: 'Monts';
    padding: 0.5em;
    font-size: large;
    /* background: -webkit-linear-gradient(#eee, #333); */
    /* -webkit-background-clip: text; */
    /* -webkit-text-fill-color: transparent; */
    /* background-color: red; */
    /* outline: 2px solid red; */
    /* font: 800 20px Arial; */
    color: whitesmoke;
  /* -webkit-text-fill-color: whitesmoke;
  -webkit-text-stroke: 1.1px; */
    display: flex;
    flex-direction: column;
    flex-basis: content;
}

.gridtekst:hover{ 
    /* color: black; */
}

.hoofdtekst{
    font-size: x-large;
    text-align: center;
    font: 'Monts';
    color: whitesmoke;
  /* -webkit-text-fill-color: whitesmoke;
  -webkit-text-stroke: 1.65px; */
}


.hoofdtekst:hover{ 
    /* color: black; */
}

img{
    /* width: 20em; */
    height: 10em;
    object-fit: cover;
    border: 2px white solid;
    margin: 1.2em;
    display: flex;
    /* margin: 2%; */
}

#buttonTags{
    display: grid;
    grid-template-columns: repeat(3, 5em);
    place-items: start;
    align-items: center;
}
/* .mdot {
    width: 105px;
    height: 45px;
    text-decoration: underline; 
    background-color: whitesmoke ;
    border: solid 4px whitesmoke ;   
    border-radius: 1px;
    box-shadow: white 0px 6px !important;
}
.mdot:hover {
  text-decoration: none;
}
.mdot:active {
    /* width: 110px;don beton

    box-shadow: 0px 5px #dbd5d5;
    transform: translateY(4px);
} */
.beton {
    list-style-type: none;
    text-decoration: none;
    color: whitesmoke;
    /* float: left; */
    background-color: whitesmoke;
    margin:0px;
    width: 115px;
    height: 55px;
    /* border-radius: 50px; 
    box-shadow: red 0px 5px;   */
    background-color: whitesmoke ;
    border: double 3px whitesmoke ;   
    border-radius: 1px;
    outline: 4px double red;
    outline-offset: 0.5px;
   -moz-outline-radius: 10px ;
    /* box-shadow: whitesmoke 6px 6px; */
    box-shadow: whitesmoke 0px 8px;
    text-align: center;
    /* grid-row-start:0 ;
    grid-row-end:0;
    grid-column-start:0;
    grid-column-end: 0; */
    /* margin: auto ;  */
     /* align-self: center;
    justify-self: center;  */
    /* place-self: center; */
    /* font: 800 20px Arial;
  -webkit-text-fill-color: whitesmoke;
  -webkit-text-stroke: 1.5px; */
    display: flex;
    justify-content: center;  /* Centers horizontally */
    align-items: center;      /* Centers vertically */
}
.beton:hover{
    text-decoration: underline;
}
.beton:active {
    box-shadow: 0px 8px whitesmoke;
    transform: translateY(4px);
}

.betonspeciaal {
    list-style-type: none;
    text-decoration: none;
    color: whitesmoke;
    /* float: left; */
    background-color: whitesmoke;
    /* margin: 100px 0px 0px 100px; */
    width: 115px;
    height: 55px;
    /* border-radius: 50px; 
    box-shadow: red 0px 5px;   */
    background-color: whitesmoke ;
    border: solid 4px whitesmoke ;   
    border-radius: 1px;
    outline: 4px double red;
    outline-offset: 0.5px;
   -moz-outline-radius: 10px ;
    /* box-shadow: whitesmoke 6px 6px; */
    box-shadow: whitesmoke 0px 8px;
    text-align: center;
    /* font: 800 20px Arial;
  -webkit-text-fill-color: whitesmoke;
  -webkit-text-stroke: 1.5px; */
    display: flex;
    justify-content: center;  /* Centers horizontally */
    align-items: center;      /* Centers vertically */
}
.betonspeciaal:hover{
    text-decoration: underline;
    outline: 3.9px double rgb(240, 5, 5);
}
.betonspeciaal:active {
    box-shadow: 0px 8px whitesmoke;
    outline: 4.2px double red;
    outline-offset: 3px;
    transform: translateY(4px);
}

.projectenkeuze{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2, 0.25fr);
    place-items: center;
    /* justify-items: center; */
    align-items: center;

}
.per1{
    color: whitesmoke;
    position: none;
}
@media only screen and (max-width: 451px){
    .project{
        flex-direction: column;
    }
    img{
        height: 6em;
    }
    .goedimg{
        height: 10em;
    }
}