form{
    margin-top: 40px;
    margin-left: 30px;
} 
label{
    color:black;
    border: 2px solid red;
    margin-left: 3px;
}
input{
    display: block;
    border-color: red;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: 2.5px;
}
.Query{
    text-decoration: underline;
    color: white;
    border-color: red;
    background-color: black;
    padding-bottom: 5px;
}