.container {
    width: 1100px;
    height: 400px;
    /* background-color:#DADAE3; */
    background-image: linear-gradient(to right,rgb( 120, 120, 125),(218,218,227));
    border: solid;
    border-radius:25px;
    margin-left: 10%; 
}

.rect{
    width: 400px;
    height: 300px;
    background:#ffffff;
    border: double 1em transparent ;
    background-image: linear-gradient(190deg, grey, black),
                      linear-gradient(to right, purple, orange) ;
    background-origin: border-box;
    background-clip: content-box, border-box;
    border-radius: 50px;
    text-align: center;
}
h1{
  color: black ;
}
h2{
    color: white;
    font-size: 50px;
}
p{
    color: #F2F2F2;
    font-size: 150%;
}
.imgik {
    border: solid 10px;
    width: 400px;
    height: 300px;
    border: double 1em transparent ;
    background-image: linear-gradient(45deg, white, white),
                      linear-gradient(45deg, purple, orange) ;
    background-origin: border-box;
    background-clip: content-box, border-box;
    border-radius: 50px;
    border-width: 25px;
}

/* flex*/
.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    align-self: center;
    justify-content: space-around;
    /* justify-self: flex-end;   */
    /* justify-items: flex-end; 
    /*gap: 20px;*/
    /*align-self: center;*/

}

.containerbutton{
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(2, 0.3fr 0.3fr);
    grid-template-rows: repeat(6, 1fr);
    grid-column-gap: 0px;
    grid-row-gap: 20px; 
    place-items: center;
    justify-items: center;
    background-color: wheat;
}