@font-face {
    font-family: 'Fire';
    src: url(../fonts/FireAceFreeTrial-p7D6d.ttf);
}

body {
    margin: 0px;
    background-color:#fbfbfb;
    color:#F5F5F5;
}

header {
    text-align: center;
}

main {
    margin: 0px;
}

.navbar ul {
    list-style-type: none;
    background-image: linear-gradient(#9453A6, rgb(26, 189, 167, 0.521));
    margin: 0px;
    padding: 10px;
    overflow: hidden;
}

.navbar a {
    text-decoration: none;
    font-size: 10px;
    /* color: rgba(216, 77, 26, 0.74); */
    color: rgba(216, 77, 26, 0.74);
    font-size: larger;
    font-family: 'Fire';
    display: block;
    padding: 10px;

}

.navbar a:hover {
    background-color: rgba(26, 189, 167, 0.277);
}

.navbar li {
    float: left;
    margin: 10px;
}

.navbar div {
    text-align: center;
}
.dot {
    width: 105px;
    height: 45px;
    background-color: black;
    border: solid 10px #8ee111  ;   
    border-radius: 50px;
    box-shadow: black 5px 10px;
}