@font-face {
    font-family: 'Monts';
    src: url(../fonts/static/Montserrat-Bold.ttf);
}
@font-face {
    font-family: 'BoldMonts';
    src: url(../fonts/static/Montserrat-ExtraBold.ttf);
}
@font-face {
    font-family: 'LeMilk';
    src: url(../fonts/lemonmilk/LEMONMILK-Bold.otf);
}
@font-face {
    font-family: 'LmMilk';
    src: url(../fonts/lemonmilk/LEMONMILK-Medium.otf);
}
body {
    margin: 0px;
     background-image: url(../images/code.png); 
     background: black;
    /* backdrop-filter: blur(8px); */
    /* temporary */
    /* backdrop-filter: invert(90%);  */
    /* backdrop-filter: sepia(10%); */
    /* color:#F5F5F5; */
}

header {
    text-align: center;
}

main {
    margin: 0px;
}

.navbar ul {
    list-style-type: none;
    /* background-image: linear-gradient(orangered ,whitesmoke); */
    margin: 0px;
    padding: 10px;
    overflow: hidden;
}

.navbar a {
    text-decoration: none;
    font-size: 10px;
    /* height: 124px; */
    color: orangered;
    font-size: larger;
    font: 800 30px 'LmMilk';
  -webkit-text-fill-color: whitesmoke;
  -webkit-text-stroke: 1.5px;
    display: block;
    padding: 10px;

}
.navbar a:active{
    transform: translateY(2px);
}

.navbar li {
    float: right;
    margin: 10px;
}
.navbar li > h2{
    float: left;
    margin: 10px;
}
.navbar li:hover{
    text-decoration: underline;
    color: orangered ;
}
.navbar div {
    text-align: center;
}
/* .dot {
    width: 105px;
    height: 45px;
    text-decoration: none; 
    background-color: orangered ;
    border: solid 4px whitesmoke ;   
    border-radius: 1px;
    /* box-shadow: whitesmoke 6px 6px; */
    /* box-shadow: whitesmoke 0px 6px; */
/* } */
/* .dot:hover { */
   /* text-decoration: none; */
/* }
.dot:active {
    /* width: 110px;
    height: 50px; 
    box-shadow: 0px 5px #dbd5d5;
    transform: translateY(4px);
} */
span{ 
    color: orangered;
    float: left;
    /* margin: 10px; */
    font-size: 90px;
font: 800 36px 'LeMilk';
  -webkit-text-fill-color: whitesmoke;
  -webkit-text-stroke: 2.75px;

}
span:hover{
    text-decoration: underline;
    transition: 2s;
}
.nav_logo{
    margin: -2px;
    float: left;
}
.footer ul {
    list-style-type: none;
    /* background-image: linear-gradient(orangered ,whitesmoke); */
    margin: 0px;
    padding: 10px;
    position: relative;
    bottom: 0;
    overflow: hidden;
}

.footer a {
    text-decoration: none;
    font-size: 10px;
    /* height: 124px; */
    color: orangered;
    font-size: larger;
    font: 800 20px 'LmMilk';
  -webkit-text-fill-color: whitesmoke;
  -webkit-text-stroke: 1.5px;
    display: block;
    padding: 10px;
}
.footer a:active{
    transform: translateY(2px);
}

.footer li {
    float: right;
    /* margin: 10px; */
}
.footer li > h2{
    float: left;
    /* margin: 10px; */
}
.footer li:hover{
    text-decoration: underline;
    color: orangered ;
}
.footer div {
    text-align: center;
}
.spanklein{
    font-size: 1.35em;
}