@font-face {
    font-family: 'Fire';
    src: url(../fonts/FireAceFreeTrial-p7D6d.ttf);
}

body {
    margin: 0px;
    background-color:#F5F5F5;
    color:#F5F5F5;
}

header {
    text-align: center;
}

main {
    margin: 0px;
}

.navbar ul {
    list-style-type: none;
    background-image: linear-gradient(rgba(255, 196, 0, 0.203), rgb(26, 189, 167, 0.521));
    margin: 0px;
    padding: 10px;
    overflow: hidden;
}

.navbar a {
    text-decoration: none;
    font-size: 10px;
    /* color: rgba(216, 77, 26, 0.74); */
    color: rgba(216, 77, 26, 0.74);
    font-size: larger;
    font-family: 'Fire';
    display: block;
    padding: 10px;

}

.navbar a:hover {
    background-color: rgba(26, 189, 167, 0.277);
}

.navbar li {
    float: left;
    margin: 10px;
}

.navbar div {
    text-align: center;
}

.container {
    width: 1100px;
    height: 400px;
    background-color:#DADAE3;
    background-image: linear-gradient(to right,rgb( 120, 120, 125),rgb(218,218,227));
    border: solid;
    border-radius:25px;
    margin-top: 4%;
    margin-left: 15%;
}

.rect{
    width: 400px;
    height: 300px;
    background:#ffffff;
    border: double 1em transparent ;
    background-image: linear-gradient(190deg, grey, black),
                      linear-gradient(to right, purple, orange) ;
    background-origin: border-box;
    background-clip: content-box, border-box;
    border-radius: 50px;
    text-align: center;
}
p{
    color: white;
    font-size: 150%;
}
.lorem{
    color: black;
}

img {
    border: solid 10px;
    width: 400px;
    height: 300px;
    border: double 1em transparent ;
    background-image: linear-gradient(45deg, white, white),
                      linear-gradient(45deg, purple, orange) ;
    background-origin: border-box;
    background-clip: content-box, border-box;
    border-radius: 50px;
    border-width: 25px;
}

.dot {
    width: 105px;
    height: 45px;
    background-color: yellow;
    border-radius: 50%;
    box-shadow: black 5px 10px;
}

/* flex*/
.container {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    /* justify-self: flex-end;   */
    /* justify-items: flex-end; 
    /*gap: 20px;*/
    /*align-self: center;*/

}
.rect{
    display: flex;
    /* justify-content: center; 
    align-items: center;    */
}