body{
    background-image: url(groot-1.png);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}
div{
    margin-left: 1478px;
    margin-top: 280px;    
} 
@font-face {
    font-family: 'crusader-kings';
    src: url(cinzel.decorative-regular.ttf);
}
h1{
    font-family: 'crusader-kings';
    font-size: 18.8px;
    background-image: -webkit-linear-gradient(#0fdf7b, #e10cb3);
    background-clip: padding;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

p{color: rgb(0, 0, 0);
    font-family: 'crusader-kings';
    font-size: 10.5px;
    background-image: -moz-linear-gradient(#0fdf7b, #e10cb3);
    background-clip: padding;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

li{
    font-family: 'crusader-kings';
    background-image: -webkit-linear-gradient(#0fdf7b, #e10cb3);
    background-clip: padding;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

